$text-margin: 10px;
$new-white: rgb(248, 246, 234);

* {
    box-sizing: border-box;
}

a {
    justify-content: left;
}

.benefit-cards {
    display: flex;
    align-items: left;
    margin: 1rem 0;
    width: 100%;
    z-index: 1;
    
    overflow-x: auto;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
    padding-left: 0.7rem;

    @media (min-width: 800px) {
        width: 90%;
    }
    @media (min-width: 900px) {
        padding: 2rem 0;
        padding-left: 1rem;
    }

    @media (min-width: 1300px) {
        width: 90%;
        margin-left: 30%;
    }
    .benefit-card {
        width: 146px;
        height: 181px;
        background: #FCFCFC;
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        flex: 0 0 auto;
        @media (min-width: 1200px) {
            width: 310px;
            height: 385px;
            margin: unset;
        }

        .benefit-image {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            margin-top: 1rem;
            @media (min-width: 1200px) {
                margin-top: 3rem;
            }

            img {
                padding: 0.5rem;
                width: 4rem;
                height: auto;
                object-fit: cover;
                @media (min-width: 1200px) {
                    width: 40%;
                    padding: unset;
                }
            }
        }
        .benefit-title {
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 113.84%;
            color: #3F3D56;
            opacity: 0.75;
            margin: 0.5rem 0;
            @media (min-width: 1200px) {
                font-size: 18px;
                margin: 1.5rem 0;
            }
        }
        .benefit-desc {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 113.84%;
            color: #3F3D56;
            opacity: 0.75;
            text-align: center;
            width: 85%;
            margin-bottom: 0.5rem;
            @media (min-width: 1200px) {
                font-size: 16px;
                line-height: 18.21px;
                margin: unset;
            }
        }
    }
}

.complete-status {
    width: 32%;
    height: 4px;
    left: calc(50% - 244.67px/2);
    top: 0px;

    background: #67923D;
    border-radius: 100px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.incomplete-status {
    width: 32%;
    height: 4px;
    left: calc(50% - 244.67px/2);
    top: 0px;
    background: #C1C9D2;
    border-radius: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.second {
    margin: unset;
    margin-bottom: 20px;
}

.checkmark-finished {
    margin: 2rem auto;

    @media (min-width: 800px) {
        margin: 3rem auto;
    }

    img {
        width: 100px;
        height: 100px;
        @media (min-width: 800px) {
            width: 150px;
            height: 150px;
        }
    }
}

.bullet-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    margin: 0 auto;

    @media (min-width: 800px) {
        width: 85%;
        margin: 2rem auto;
    }
}

.bullet {
    width: 10%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 0.6rem;
    .circle {
        width: 9px;
        height: 9px;
        background: #FFFFFF;
        left: 60%;
        position: relative;
        border: 1px solid #ADADAF;
        border-radius: 50%;
    
        &.completed {
            background: #96B479;
        }
    }    
}

.step-line {
    height: 90px;
    border: 1px solid #DADADA;
    position: absolute;
    top: 15%;
    left: 10.5%;
    z-index: 1;

    @media (min-width: 800px) {
        width: 128px;
    }
}