.businesses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-bottom: 3em;
  justify-content: space-between;
}

.business-background {
  /* align-self: center;
    width: 75em; */
  width: 100%;
  height: 6em;
  background: rgba(71, 168, 78, 0.21);

  z-index: -2;
  position: absolute;
  margin-top: -4em;
}

.businesses-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  position: relative;
  margin-top: 5em;
  margin-bottom: 1em;
  min-width: 10em;
  width: 20%;
  display: flex;
}

.business-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.business-card {
  border-radius: 30px;
  box-shadow: 0px 4px 38px rgba(57, 57, 57, 0.12);
  border: #ffffff;
  z-index: 1;
  height: 14.5em;
  width: 11em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  transition: all 0.3s;
}

.business-card:hover {
  cursor: pointer !important;
  box-shadow: 0 4px 20px rgba(194, 194, 194, 0.7);
  transform: translateY(-1px);
}

.circle-pattern-img {
  margin: -2em 0em 0em 10em;
  position: absolute;
  z-index: -1;
}

.business-card-img {
  position: absolute;
  top: 16px;
  left: 50%;
  margin-bottom: 5em;
  border-radius: 50%;
  width: 138px;
  height: 138px;
  overflow: hidden;
  object-fit: contain;
  transform: translateX(-50%);
}

.business-card-body {
  display: flex;
  justify-content: center;
}

.business-card-subtitle {
  color: #67923d;
  margin-bottom: 1.5em;
}

.business-card-title {
  margin-bottom: 3em;
}

.business-card-subtitle,
.business-card-title {
  position: absolute;
  bottom: 0;
}

.businesses-pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.business-page-link {
  border-radius: 100px;
  /* background: #91AB94; */
  border: 1px solid #d4e9d6;
  box-sizing: border-box;
  color: #67923d;
  font-weight: bold;
}

.business-page-item {
  margin: 0em 0.3em 0em 0.3em;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 100px;
}

.page-item:last-child .page-link {
  border: 1px solid #67923d;
}

.filters-container {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdown {
  box-sizing: border-box;
  padding: 1em;
}

.dropdown-toggle {
  font-weight: 600;
  font-size: 18px;
  color: #adadaf;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #afafaf;
  width: 10em;
}

.dropdown-item {
  width: 11em;
  height: 3em;
  white-space: normal;
}

.search-bar {
  background: rgba(236, 236, 236, 0.57);
  border-radius: 10px;
  border: #ffffff;
  height: 2.5rem;
  width: 85%;
  padding-left: 1em;
  margin-right: -20px;
}

.search-bar-btn {
  background: #67923d;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  height: 2.5rem;
  width: 5em;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em 2em;
  width: auto;
}

.search-bar-header h6 {
  color: #828282;
  font-weight: 500;
  font-size: 18px;
}

.search-bar-header h1 {
  font-weight: bold;
}

.search-bar-and-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
  width: 75%;
  margin-top: auto;
}

.search-bar-header {
  min-width: 20%;
}

@media screen and (max-width: 1200px) {
  .card-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .businesses-container {
    margin-top: 0em;
  }

  .business-background {
    display: none;
  }

  .circle-pattern-img {
    display: none;
  }

  .filters-container {
    display: none;
  }

  .search-bar-container {
    flex-direction: column;
  }

  .search-bar-and-btn {
    margin: 1em 0em;
    width: auto;
  }
}