* {
  box-sizing: border-box;
}

.criteria-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.criteria-text-content {
  margin-left: 8%;
  margin-bottom: 2em;
  padding-top: 2em;
  z-index: 2;
}

.criteria-image {
  display: flex;
  align-items: flex-end;
}

.criteria-image > img {
  width: 40em;
}

.criteria-bar {
  display: inline-block;
  width: 2.3em;
  height: .12em;
  background-color: #67923D;
  margin-left: .6em;
  margin-bottom: .25em;
}

h1 {
  color: #535461;
  margin-bottom: .5em !important;
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

.criteria-txt {
  width: 89%;
  margin: 4em 0;
}

em, i {
  color: #67923D;
  font-style: normal;
}

.fa {
  line-height: 2em;
  margin-right: .3em;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}