* {
  box-sizing: border-box;
}

.criteria-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.criteria-text-content {
  margin-left: 8%;
  margin-bottom: 2em;
  padding-top: 2em;
  z-index: 2;
}

.criteria-image {
  display: flex;
  align-items: flex-end;
}

.criteria-image > img {
  width: 40em;
}

.criteria-bar {
  display: inline-block;
  width: 2.3em;
  height: .12em;
  background-color: #67923D;
  margin-left: .6em;
  margin-bottom: .25em;
}

h1 {
  color: #535461;
  margin-bottom: .5em !important;
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

.criteria-txt {
  width: 89%;
  margin: 2em 0;
}

em, i {
  color: #67923D;
  font-style: normal;
}

.fa {
  line-height: 2em;
  margin-right: .3em;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.line-border {
  width: 90%;
  max-width: 1160px;
  height: 0px;
  border: 1px solid #A49999;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.filter-selections {
  display: flex;
  align-items: left;
  width: 100%;
  
  overflow-x: auto;
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory;
  margin: 0 1rem;
  max-width: 1040px;
  padding: 1rem 0;
  padding-left: 2rem;

  @media (min-width: 800px) {
      // width: 90%;
  }

  @media (min-width: 1440px) {
      margin-left: auto;
      margin-right: auto;
  }


  .filter-select {
      width: 60%;
      height: auto;
      background: #C4C4C4;
      color: #FFFFFF;
      font-style: normal;
      font-weight: 800;
      font-size: 19.4315px;
      line-height: 23px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      margin-right: 2rem;
      padding: 0.25rem 0.5rem;

      &.selected {
        background: #67923D;
      }
  }
}

.criteria-section {
  position: relative;
  // display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;

  flex-direction: row;
  padding: 0 2rem;

  @media (min-width: 800px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1800px) {
    // width: 80%;
  }
  
  .industry-card {
    width: 90%;
    max-width: 420px;
    align-items: center;
    position: relative;
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 2rem 2rem;
    padding-right: 1rem;
    align-content: center;

    background: #F2F2F2;
    border-radius: 16.0622px;

    @media (min-width: 550px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 800px) {
      // margin: unset;
      text-align: left;
      flex-wrap: wrap;
      max-width: 355.42px;
      padding-right: 2rem;
      // margin: 2rem 0;
    }

    @media (min-width: 1150px) {
      justify-content: center;
      // width: 45%;
    }

    // @media (min-width: 1250px) {
    //   justify-content: center;
    //   width: 45%;
    // }

    // @media (min-width: 1440px) {
    //   width: 50%;
    //   max-width: 600px;
    // }

    .industry-title {
      font-style: normal;
      font-weight: 900;
      font-size: 28.912px;
      line-height: 35px;
      /* identical to box height */
      // font-style: italic;
      font-weight: 900;
      font-size: 24px;
      letter-spacing: 0.035em;
      color: #67923D;
      margin: 0.5rem 0;
      line-height: 1.5rem;

      color: #67923D;

      @media (max-width: 300px) {
        font-size: 18px;
      }
    }

    .industry-criteria {
      @media (max-width: 300px) {
        font-size: 12px;
      }
    }
  }
}