body {
  position: relative;
}

.content {
  margin: 2rem 10% !important;
}

.content > h1 {
  color: #3e3b3b;
  font-weight: 900 !important;
  margin-top: 2em !important;
}

.content > h2 {
  color: #3e3b3b;
  font-weight: 900 !important;
  margin-top: 3em !important;
}
/*
.breadcrumb {
  background-color: white !important;
  margin: 0 !important;
  padding: 0 !important;
}

.breadcrumb a {
  color: #67923D !important;
}

.breadcrumb a:hover, .breadcrumb li {
  color: #466824 !important;
} */

.images {
  width: 34%;
  object-fit: contain;
  margin-right: 3.5em;
}

.main-img {
  width: 100%;
  min-width: 340px;
  cursor: pointer;
}

.temp-img {
  width: 50%;
  padding: 0.4em 0.2em;
  cursor: pointer;
}

.details-img-modals {
  position: fixed;
  top: 0;
  left: 0;
  background: #00000070;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  z-index: 99;
  cursor: pointer;
}

.details-img-modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 96%;
  max-height: 90%;
  width: auto;
  height: auto;
  z-index: 100;
  cursor: default;
}

.bar {
  display: inline-block;
  width: 4.5em;
  height: 0.12em;
  background-color: #67923d;
  margin-left: 1.45em !important;
  margin-bottom: 0.25em;
}

.main-details {
  margin-top: 3em;
  line-height: 2em;
  align-items: flex-start;
  display: inline-flex;
}

.social-buttons {
  margin: 3em 0;
}

.social-buttons img {
  width: 2em;
}

.social-buttons > a {
  display: inline;
  margin-right: 0.8em !important;
  border-radius: 10px !important;
  padding: 1em 2.2em !important;
  background-color: #ebebeb;
  box-shadow: 0 5px 8px #6a65653f;
  transition: transform 0.4s ease;
  transform: scale(1);
  color: #000;
}

.social-buttons > a:hover {
  box-shadow: 0 5px 8px #6a656556;
  transition: all 0.4s ease;
  transform: scale(1.01);
}

.social-buttons > a:active {
  transform: scale(0.98);
  transition: transform 0.2s ease;
}

.specific-card {
  border-radius: 0.5em !important;
  width: 15rem;
  box-shadow: 0 5px 8px #6a65652a;
  margin-top: 5em;
  margin-left: 2%;
  margin-right: 2%;
}

.specific-card > p {
  color: #6a6565;
  font-size: 0.75em;
  line-height: 1.6em;
  padding: 1.6em;
}

.specific-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.3em;
  color: white;
  background-color: #67923d !important;
  border-radius: 0.5em !important;
  width: 100%;
  padding: 1.6em 1.25em !important;
}

.specific-card > img {
  margin-top: -1.2rem;
  margin-left: 13.2rem;
}

.specific-card > em {
  font-size: 2em;
  margin-right: 0.6em;
  font-weight: 300 !important;
}

.specific-card a {
  color: #6a6565;
  font-size: 0.65em;
  text-decoration: underline;
  margin-top: 4.5em;
  margin-bottom: 2em;
}

.specific-card a:hover {
  color: #3b3b3b;
  font-weight: 500;
  text-decoration: underline;
}

.sustainability-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.specific-card-header > p:first-child {
  margin-right: 1em;
}

.hidden {
  display: none !important;
}